.GetAll {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  #mainNav {
    position: relative;
  }
  
  body {
    background-color: #98423787;
    margin: 0;
    padding: 0;
  }
  
  .inbox {
    width: 400px;
    margin-left: 40%;
  }
  